/* ======= MOBILE =======*/

.footer {
    margin: 0 auto;
    padding: 96px 0;
    background: #2E2F42;
    max-width: 768px;
}

.footer-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 72px;
}

.container-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-logo .accent-footer {
    color: #F4F4FD;
}

.footer-logo {
    margin-bottom: 16px;
    display: block;
    }

.accent-footer {
    display: inline-block;
}

.footer-text {
    max-width: 288px;
    color: #F4F4FD;
}

.footer-social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-social-text {
    margin-bottom: 16px;
    display: block;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.footer-social-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.footer-social-link {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border-radius: 50%;
    background-color: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:focus,
.footer-social-link:hover {
    background-color: #31d0aa;
}

.footer-social-icon {
    fill: #F4F4FD;
}

.footer-subscribe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-subscribe-text {
    margin-bottom: 16px;
    display: block;
    color: #FFF;
    font-weight: 500;
    letter-spacing: 0.02em;
}

.footer-subscribe-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.footer-subscribe-form-input {
    padding: 8px 16px;
    width: 288px;
    height: 40px;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    border-radius: 4px;
    border: 1px solid var(--WHITE, #FFF);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    background-color: transparent;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.footer-subscribe-form-input::placeholder {
    color: #ffffff;
}

.footer-subscribe-btn {
    display: inline-flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    color: var(--WHITE, #FFF);
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    min-width: 165px;
    height: 40px;
    border: none;
    border-radius: 4px;
    background-color: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}

.footer-subscribe-form-icon {
    margin-left: 16px;
}

.footer-subscribe-btn:hover,
.footer-subscribe-btn:focus {
    background-color: #404BBF;
}

/* ======= TABLET ======= */

@media screen and (min-width: 768px) {
    
    .footer {
        max-width: 1157px;
    }

    .footer-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        max-width: 584px;
        gap: 72px 24px;
        align-items: baseline;
    }

    .container-footer {
       display: block;
    }

    .footer-text {
        max-width: 264px;
    }


    .footer-social {
      display: block;
    }

    .footer-subscribe {
      display: block;
    }

    .footer-subscribe-text {
    }   
    
    .footer-subscribe-form {
        flex-direction: row;
        gap: 24px;
    }

    .footer-subscribe-form-input {
        width: 264px;
    }
}

/* ======= DESKTOP ======= */

@media screen and (min-width: 1158px) {

    .footer {
        padding: 100px 0;
        max-width: 1440px;
    }

    .footer-wrapper {
        flex-wrap: nowrap;
        justify-content: center;
        max-width: 100%;
        gap: 0;
    }

    .container-footer {
        margin-right: 120px;
    }

    .footer-social-list {
        margin-right: 80px;
        justify-content: center;
        align-items: center;
        display: flex;
        gap: 16px;
    }
}
