/* ======= MOBILE =======*/

@media screen and (max-width: 767px) {
    .nav-list {
        display: none;
    }

    .address {
        display: none;
    }
}

.header {
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.page-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-decoration: none;
    text-transform: uppercase;
    color: #4d5ae5;
}

.nav-logo .accent {
    margin-right: 76px;
    color: #2e2f42;
}

.open-mobile-menu-btn {
    margin-left: auto;
    padding: 16px 0;
    line-height: 0;
    border: none;
    background-color: transparent;
}

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999999;
    width: 100%;
    height: 100%;
    background-color: #fff;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
    transform: translateX(0%);
}

.mobile-menu-close-btn{
    position: absolute;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    line-height: 0;
    background-color: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-width: 1px;
    border-radius: 50%;
    fill: rgba(46, 47, 66, 1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;}

.mobile-menu-close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-close-btn:hover,
.mobile-menu-close-btn:focus {
    background-color: rgba(64, 75, 191, 1);
    border: none;
    fill: #ffffff;
}

.mobile-menu-nav {
    margin-top: 72px;
    margin-left: 16px;
    margin-bottom: 168px;
}

.mobile-menu-nav-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}

.mobile-menu-nav-link {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-nav-link:focus {
    color: var(--OCEAN, #404BBF);
}

.mobile-menu-address {
    margin-left: 16px;
    margin-bottom: 48px;
}

.mobile-menu-address-link {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    font-style: normal;
    letter-spacing: 0.02em;
    color: var(--SLATE, #434455);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-address-link:focus {
    color: var(--IRIS, #4D5AE5);
}

.mobile-menu-address-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.mobile-menu-social {
    margin-left: 16px;
    margin-bottom: 40px;
}

.mobile-menu-social-list {
    display: flex;
    align-items: flex-start;
    gap: 40px;
}

.mobile-menu-social-item {
    width: 40px;
    height: 40px;
}

.mobile-menu-social-link {
    padding: 8px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #4d5ae5;
}

.mobile-menu-social-icon {
    fill: #fff;
}


/* ======= TABLET ======= */

@media screen and (min-width: 768px) {
    .open-mobile-menu-btn {
        display: none;
    }

    .mobile-menu {
        display: none;
    }

    .nav {
        display: flex;
        align-items: center;
    }

    .nav-logo .accent {
        margin-right: 120px;
    }

    .nav-list {
        display: flex;
        gap: 40px;
    }

    .nav-link {
        padding: 24px 0;
        display: block;
        font-weight: 500;
        text-decoration: none;
        color: #2E2F42;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .curent {
        color: #404BBF;
        position: relative;
    }

    .curent::after {
        position: absolute;
        left: 0;
        bottom: -1px;
        display: block;
        width: 100%;
        height: 4px;
        background-color: #404BBF;
        border-radius: 2px;
        content: '';
    }

    .nav-link:hover,
    .nav-link:focus {
        color: #404BBF;
    }

    .address {
    display: flex;
    align-items: center;
    font-style: normal;
    }

    .address-link {
        font-family: Roboto, sans-serif;
        font-weight: 400;
        text-decoration: none;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .address-link:hover,
    .address-link:focus {
        color: #404BBF;
    } */

    .address {
        display: flex;
        align-items: center;
        font-style: normal;
    }

    .address-link {
        font-family: Roboto, sans-serif;
        font-size: 12px;
        font-weight: 400;
        line-height: 1.17;
        letter-spacing: 0.04em;
        text-decoration: none;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .address-link:hover,
    .address-link:focus {
        color: #404BBF;
    }
}

/* ======= DESKTOP ======= */

@media screen and (min-width: 1158px) {
    .nav-logo {
        margin-right: 76px;
    }
    
    .address-list {
        display: flex;
        gap: 40px;
    }

    .address-link {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }
}

