/* ======= MOBILE =======*/

.section-hero {
    margin: 0 auto;
    padding: 72px 0;
    text-align: center;
    max-width: 768px;
    background: #2E2F42;
    background-image: linear-gradient(to bottom,
            rgba(46, 47, 66, 0.70),
            rgba(46, 47, 66, 0.70)),
        url(/images/hero/people-mobile.jpg);
    background-color: var(--grey, rgba(46, 47, 66, 0.70));
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

@media screen and (min-resolution: 192dpi) and (max-width: 768px), 
screen and (min-resolution: 2dppx) and (max-width: 768px),
screen and (min-device-pixel-ratio: 2) and (max-width: 768px) {
    .section-hero {
        background-image: linear-gradient(to bottom,
                rgba(46, 47, 66, 0.70),
                rgba(46, 47, 66, 0.70)),
            url(/images/hero/people-mobile@2x.jpg);
    }
}

.section-hero-title {
    margin-bottom: 72px;
    margin-left: auto;
    margin-right: auto;
    max-width: 220px;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #FFF;
}

.section-hero-btn {
    margin-right: auto;
    margin-left: auto;
    padding: 16px 32px;
    display: block;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    min-width: 169px;
    cursor: pointer;
    border: 0;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: #FFF;
    background: #4D5AE5;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.section-hero-btn:hover,
.section-hero-btn:focus {
    background: #404BBF;
}

/* ======= TABLET ======= */


@media screen and (min-width: 768px) {
    .section-hero {
        padding: 112px 0;
        max-width: 1158px;
        background-image: linear-gradient(to bottom,
                rgba(46, 47, 66, 0.70),
                rgba(46, 47, 66, 0.70)),
            url(/images/hero/people-tablet.jpg);
    }

    .section-hero-title {
        margin-bottom: 36px;
        max-width: 496px;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
    }
}

@media screen and (min-resolution: 192dpi) and (min-width: 768px),
screen and (min-resolution: 2dppx) and (min-width: 768px),
screen and (min-device-pixel-ratio: 2) and (min-width: 768px) {
    .section-hero {
        background-image: linear-gradient(to bottom,
                rgba(46, 47, 66, 0.70),
                rgba(46, 47, 66, 0.70)),
            url(/images/hero/people-tablet@2x.jpg);
    }
}

/* ======= DESKTOP ======= */

@media screen and (min-width: 1158px) {
    .section-hero {
        margin: 0 auto;
        padding: 188px 0;
        max-width: 1440px;
        background-image: linear-gradient(to bottom,
                rgba(46, 47, 66, 0.70),
                rgba(46, 47, 66, 0.70)),
            url(/images/hero/people-desktop.jpg);
    }

    .section-hero-title {
        margin-bottom: 48px;
    }
}

@media screen and (min-resolution: 192dpi) and (min-width: 1158px),
screen and (min-resolution: 2dppx) and (min-width: 1158px),
screen and (min-device-pixel-ratio: 2) and (min-width: 1158px) {
    .section-hero {
        background-image: linear-gradient(to bottom,
            rgba(46, 47, 66, 0.70),
            rgba(46, 47, 66, 0.70)),
        url(/images/hero/people-desktop@2x.jpg);
    }
}